
{% extends "_base.html" %}
{% load i18n %}
{% block title %}{% trans "About Us" %}{% endblock %}

{% block content %}

  <link rel="stylesheet" href="../../static/store/static/css/bootstrap-grid.min7.css">
  <link rel="stylesheet" href="../../static/store/static/css/bootstrap-reboot.min7.css">
  <link rel="stylesheet" href="../../static/store/static/css/styles.css">
  <link rel="stylesheet" href="../../static/store/static/css/style2.css">
 <link rel="stylesheet" href="../../static/store/static/css/mbr-additional92.css" type="text/css">




<section class="features3 cid-rbmdr8RGdl" id="features3-3">




    <div class="container">
        <h1 class="mbr-fonts-style mb-4 align-center display-2">{% trans "About Us" %}</h1>

        <div class="media-container-row">
            <div class="card col-12 col-md-6 col-lg-6">
                <div class="card-img">
                    <img src="../../static/store/shop.jpg" width="150"  >  </div>
                <div class="card-box">
                    <h4 class="card-title mbr-fonts-style align-center display-5">
                        Our Store</h4>
                  <p style="font-family: Raleway">
                      {% trans "We are proud to offer the finest quality fresh flower arrangements and service!" %}
    </p>



<p style="font-family: Raleway">
    {% trans "Professional but fun and easy-going staff will take your order and have it delivered in a timely manner." %}

</p>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-6">
                <div class="card-img">
                     <img src="../../static/store/service.jpg " width="150"></div>
                <div class="card-box">
                    <h4 class="card-title mbr-fonts-style align-center display-5">
                        {% trans "Our Services" %}
                        </h4>
                    <ul style="font-family: Raleway">
    <li>{% trans "DIY designed flower bucket" %}</li>
    <li>{% trans "Large inventory of fresh flowers" %}</li>
    <li>{% trans "Tropical flowers and arrangements" %}</li>
    <li>{% trans "Indoor green and blooming plants" %}</li>
</ul>
                   </div>
            </div>

        </div>
    </div>
</section>





<section class="features3 cid-rbmgMi0CRH" id="features17-b">




    <div class="container">
        <h2 class="mbr-fonts-style mb-4 align-center display-2">{% trans "Store Hours" %}</h2>

        <div class="media-container-row">
            <div class="card col-12 col-md-4 col-lg-4">
                <div class="card-img">
                   <img src="../../static/store/open.jpg " width="100">
                </div>
                <div class="card-box">
                     <h4>{% trans "Monday - Friday" %}
                         </h4>
                <p style="font-family: Raleway">
                    {% trans "8am – 4pm (Phones answered until 3:45pm)" %}
                </p>
                </div>
            </div>
            <div class="card col-12 col-md-4 col-lg-4">
                <div class="card-img">
                    <img src="../../static/store/store.jpg " width="100">
                </div>
                <div class="card-box">
                 <h4>{% trans "Saturday" %}</h4>
                <p style="font-family: Raleway">{% trans "8am – Noon (Phones answered until 11:45am)" %}</p>
                </div>
            </div>
            <div class="card col-12 col-md-4 col-lg-4">
                <div class="card-img">
                     <img src="../../static/store/nav1.jpg " width="100">
                </div>
                <div class="card-box">
                     <h4>{% trans "Sunday" %}</h4>
                <p style="font-family: Raleway">{% trans "Closed" %}</p>
                </div>
            </div>
        </div>
    </div>
</section>



    <section class="features7 cid-rbmgesvQTI" id="features7-a">




    <div class="container">
        <div class="row main-row">
            <div class="text-content mb-4 col-lg-12">
                <h2 class="mb-4 mbr-fonts-style mbr-section-title display-2">{% trans "Contact with us" %}</h2>
                           <p style="font-family: Raleway">{% trans "Store location: Pingleyuan 100, Beijing" %}</p>

           <p style="font-family: Raleway">{% trans "For any questions or concerns please EMAIL US at" %} <a href="#">bouquetpickup@163.com</a></p>

            </div>


        </div>
    </div>
</section>

{% endblock %}