{% extends "_base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

  <link rel="stylesheet" href="../../static/store/static/css/bootstrap-grid.min7.css">
  <link rel="stylesheet" href="../../static/store/static/css/bootstrap-reboot.min7.css">
  <link rel="stylesheet" href="../../static/store/static/css/styles.css">
  <link rel="stylesheet" href="../../static/store/static/css/style2.css">
 <link rel="stylesheet" href="../../static/store/static/css/mbr-additional92.css" type="text/css">




<section class="features3 cid-rbmdr8RGdl" id="features3-3">




    <div class="container">
        <h1 class="mbr-fonts-style mb-4 align-center display-2">About Us</h1>

        <div class="media-container-row">
            <div class="card col-12 col-md-6 col-lg-6">
                <div class="card-img">
                    <img src="../../static/store/shop.jpg" width="150"  >  </div>
                <div class="card-box">
                    <h4 class="card-title mbr-fonts-style align-center display-5">
                        Our Store</h4>
                  <p style="font-family: Raleway">
    We are proud to offer the finest quality fresh flower arrangements and service!</p>


            <p style="font-family: Raleway">Our website is updated daily. All of the images reflected are arrangements we have designed.</p>

<p style="font-family: Raleway">Professional but fun and easy-going staff will take your order and have it delivered in a timely manner.
</p>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-6">
                <div class="card-img">
                     <img src="../../static/store/service.jpg " width="150"></div>
                <div class="card-box">
                    <h4 class="card-title mbr-fonts-style align-center display-5">
                        Our Services</h4>
                    <ul style="font-family: Raleway">
    <li>Weekly inexpensive loose flower</li>
        <li>Pick Up deals</li>
    <li>Pick Up rose specials</li>
    <li>Large inventory of fresh flowers</li>
    <li>Tropical flowers and arrangements</li>
    <li>Indoor green and blooming plants</li>
     <li>Traditional arrangements and funeral designs</li>
</ul>
                   </div>
            </div>

        </div>
    </div>
</section>





<section class="features3 cid-rbmgMi0CRH" id="features17-b">




    <div class="container">
        <h2 class="mbr-fonts-style mb-4 align-center display-2">Store Hours</h2>

        <div class="media-container-row">
            <div class="card col-12 col-md-4 col-lg-4">
                <div class="card-img">
                   <img src="../../static/store/open.jpg " width="100">
                </div>
                <div class="card-box">
                     <h4>Monday - Friday</h4>
                <p style="font-family: Raleway">8am – 4pm (Phones answered until 3:45pm)</p>
                </div>
            </div>
            <div class="card col-12 col-md-4 col-lg-4">
                <div class="card-img">
                    <img src="../../static/store/store.jpg " width="100">
                </div>
                <div class="card-box">
                 <h4>Saturday</h4>
                <p style="font-family: Raleway">8am – Noon (Phones answered until 11:45am)</p>
                </div>
            </div>
            <div class="card col-12 col-md-4 col-lg-4">
                <div class="card-img">
                     <img src="../../static/store/nav1.jpg " width="100">
                </div>
                <div class="card-box">
                     <h4>Sunday</h4>
                <p style="font-family: Raleway">Closed</p>
                </div>
            </div>
        </div>
    </div>
</section>



    <section class="features7 cid-rbmgesvQTI" id="features7-a">




    <div class="container">
        <div class="row main-row">
            <div class="text-content mb-4 col-lg-12">
                <h2 class="mb-4 mbr-fonts-style mbr-section-title display-2">Contact with us</h2>
                           <p style="font-family: Raleway">To PICK UP your preorder TEXT US 512-520-1314</p>

           <p style="font-family: Raleway">We can make an on-the-spot to go order in roughly ten minutes.</p>

           <p style="font-family: Raleway">For any questions or concerns please EMAIL US at <a href="#">customerservice@flowerpickup.com</a></p>

            </div>


        </div>
    </div>
</section>

{% endblock %}