{% extends "_base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}


    <section class="section teaser teaserYarns mobileCenter" style="background: none">
        <div class="sectionImg">
<img src="../../static/store/shop.jpg" height="500"  >
        </div>
        <div class="sectionCopy" >

            <h3>Our Store</h3>


<p>
    We are proud to offer the finest quality fresh flower arrangements and service!</p>

            <p>When you order from us, you’re getting REAL people in a REAL brick and mortar flower shop. NO “1-800 stuck in a cubicle” service here.</p>

            <p>Our website is updated daily. All of the images reflected are arrangements we have designed.</p>

<p>Professional but fun and easy-going staff will take your order and have it delivered in a timely manner.
</p>
        </div>
    </section>
    <section class="section teaser teaserPatterns mobileCenter" style="background: none">
        <div class="sectionImg" >
        <img src="../../static/store/service.jpg " height="500">
        </div>
       <div class="sectionCopy" >

            <h3>Special Services</h3>


<ul>
    <li>Weekly inexpensive loose flower</li>
        <li>Pick Up deals</li>
    <li>Pick Up rose specials</li>
    <li>Large inventory of fresh flowers</li>
    <li>Tropical flowers and arrangements</li>
    <li>Indoor green and blooming plants</li>
     <li>Traditional arrangements and funeral designs</li>
</ul>
        </div>
    </section>

    <section class="valueProps section " style="background: none">
        <h3>Store Hours</h3>
        <div class="grid-3">
            <div class="grid-3-item">
                <div class="grid-3-img quality" data-aos="zoom-in">
                    <img src="../../static/store/open.jpg " height="240">
                </div>
                <h4>Monday - Friday</h4>
                <p>8am – 4pm (Phones answered until 3:45pm)</p>
            </div>
            <div class="grid-3-item">
                <div class="grid-3-img" data-aos="zoom-in" data-aos-delay="150">
                    <img src="../../static/store/store.jpg " height="240">
                </div>
                <h4>Saturday</h4>
                <p>8am – Noon (Phones answered until 11:45am)</p>
            </div>
            <div class="grid-3-item">
                <div class="grid-3-img" data-aos="zoom-in" data-aos-delay="300">
                    <img src="../../static/store/nav1.jpg " height="240">
                </div>
                <h4>Sunday</h4>
                <p>Closed</p>
            </div>
        </div>
    </section>
       <section class="section intro" style="background: none">
           <h3>Contact Us</h3>

           <p>To PICK UP your preorder TEXT US 512-520-1314</p>

           <p>We can make an on-the-spot to go order in roughly ten minutes.</p>

           <p>For any questions or concerns please EMAIL US at <a href="#">customerservice@flowerpickup.com</a></p>
,
    </section>




{% endblock %}