
{% extends "admin/base_site.html" %}

{% block title %}Account{% endblock %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="/static/store/static/css/mobirise-icons1.css">
    <link rel="stylesheet" href="/static/store/static/css/bootstrap.min10.css">
    <link rel="stylesheet" href="/static/store/static/css/bootstrap-grid.min7.css">
    <link rel="stylesheet" href="/static/store/static/css/bootstrap-reboot.min7.css">
    <link rel="stylesheet" href="/static/store/static/css/styles.css">
    <link rel="stylesheet" href="/static/store/static/css/style45.css">
    <link rel="stylesheet" href="/static/store/static/css/style51.css">
    <link rel="stylesheet" href="/static/store/static/css/style50.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/store/static/css/mbr-additional79.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">

     <style type="text/css">

.container.panel-order .row {
	border-bottom: 1px solid #ccc;
}
.panel-order .row:last-child {
	border: 0px;
}
.panel-order .row .col-md-1  {
	text-align: center;
	padding-top: 15px;
}
.panel-order .row .col-md-1 img {
	width: 50px;
	max-height: 50px;
}
.panel-order .row .row {
	border-bottom: 0;
}
.panel-order .row .col-md-11 {
	border-left: 1px solid #ccc;
}
.panel-order .row .row .col-md-12 {
	padding-top: 7px;
	padding-bottom: 7px;
}
.panel-order .row .row .col-md-12:last-child {
	font-size: 11px;
	color: #555;
	background: #efefef;
}
.panel-order .btn-group {
	margin: 0px;
	padding: 0px;
}
.panel-order .panel-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
.panel-order .panel-deading {
	margin-bottom: 0;
}
    </style>
 <div class="col-md-9">

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<div class="container bootdey">
    <div class="panel panel-default panel-order">
        <div class="panel-heading">
            <h4 >{% trans "Order History"%}</h4>

        </div>

        <div class="panel-body">

{% for order in order_list %}
            <div class="row">
                <div class="col-md-4">
                    <td style="position:relative;">

                        {% for product in order.products  %}

                            {% if product.product_obj.product_id == 1 %}
                                <img class="media-object img-thumbnail" style="position:absolute; z-index:2; left:-10px;" width="200" height="100"
                                     src="/media/user/diy/{{ request.user.id }}_{{ order.order_id }}_DIY.png">

                            {% else %}
                                <img class="media-object img-thumbnail" style="position:absolute; z-index:2; left:-10px;" width="100" height="100"
                                     src="/media/{{order.pic1}}" />


                                {% if order.pic2 %}
                                    <img class="media-object img-thumbnail" style="position:absolute; top:15px; left:10px; z-index:1" width="100" height="100" src="/media/{{order.pic2}}" />
                                {% endif %}

                            {% endif %}

                        {% endfor %}

</td>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><label class="label label-danger">



                                {% if order.status == 'paid' or order.status == 'unpaid'  %}
                                    <a href="/{{ order.order_id }}/order" class="btn btn-info display-7">{{ order.status }}</a>
                                {% else %}
                                    <a href="#" class="btn btn-info display-9">{{ order.status }}</a>
                                {% endif %}



                            </label></div>

                             <small>
                             <div>{% trans "Receiver Name"%} : {{ order.order_receiver }}</div>
                             <div>{% trans "Phone"%} : {{ order.order_phone }}</div>
                             <div>{% trans "Address"%} : {{ order.order_address }}</div>
                             {% for product in order.products  %}
                                 {{ product.product_obj.product_name }}
                                 <span> * {{ product.product_num }} </span>
                                 <br />
                             {% endfor %}
                                 {% trans "Order Cost"%} : {{ order.total_price }} <br />
                            </small>
                        </div>
                        <div class="col-md-12">{% trans "order made on: "%} {{ order.order_date }}</div>
                    </div>
                </div>
            </div>
{% endfor %}

        </div>
       </div>
</div>
   </div>




{% endblock %}


