
{% extends "_base.html" %}

{% block title %}Cart{% endblock %}
{% load i18n %}

{% block content %}

<style>
 @media screen and (max-width: 767px) {
            #pic {
              width:50px
            }
        }
        /* min-width:768px */

        @media screen and (min-width: 768px) {
          #pic {
              width:50px
            }
        }
        /* min-width:970px */

        @media screen and (min-width: 992px) {
            #pic {
              width:160px
            }
        }
        /* min-width:1200px */

        @media screen and (min-width:1200px) {
             #pic {
              width:180px
            }
        }


</style>
   <section class="cart_area " style="background: none" >

      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table table-borderless" >
            <thead>
              <tr>
                  <input type="checkbox" id="selectall">
                    {% trans "Select All"%}

                    <th width="30%"></th>
                    <th width="15%">{% trans "Inventory"%}</th>
                    <th width="15%" >{% trans "Quantity"%}</th>
                    <th width="15%"  >{% trans "Sum"%}</th>

              </tr>
            </thead>
            <tbody>

    <form action="{% url 'shop_app:addToOrder' %}" method="post">
        {% csrf_token %}
                {% if cart_list %}
                {% for cart_item in cart_list %}

                <tr  class="cart-list" id="one_good">
                <td>
                 <div class="media">
                    <div class="d-flex">
                      <img id="pic" src="/media/{{cart_item.product.product_image}}" width="180px" alt="" />
                    </div>
                    <div class="media-body" style="margin-left: 10px">
                      <p>{{cart_item.product.product_name}}</p>
                        <p id="price">{{cart_item.product.price}}</p>
                    <input class="checkbox" type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ cart_item.cart_id }}">
                   <button  align="center" class="btn btn-sm btn-light border-0" data-toggle="modal" data-target="#modal-warning" onclick="deleteCart('{{cart_item.cart_id}}', this)">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                   </button>

                    </div>
                 </div>
                </td>

                  <td>
                  <h6 align="center"id="inventory">{{cart_item.product.inventory}}</h6>
                </td>
                <td>
                    <div class="col-xl-8 product_count">

          <input class="form-control" id="num" type="number"  data-toggle="modal" data-target="#modal-warning" min="1" onchange="changeNumber('{{cart_item.cart_id}}',value)" value="{{cart_item.number}}" required>
  </div>
                </td>
                <td>
                <p class="card-text" id="calculated_price" ></p>
                </td>
              </tr>
{% endfor %}
    {% else %}
        <p align="center">{% trans "Sorry... No products in cart."%}</p>
    {% endif %}
              <tr>
                  <td></td>
                  <td></td>
                  <td>
                      <div class="badge badge-secondary badge-pill" id="total_number"></div>
                  </td>
                  <td>
                      <h6 id="total_price">￥0</h6>
                  </td></tr>
        <tr>
            <td>
                <div class="checkout_btn_inner float-lg-right">
                    <button type="submit" class="btn btn-sm btn-primary"  >{% trans "Check out"%}</button>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </form>
            </tbody>
          </table>
        </div>

        </div>

 <div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-title"></div>

                <div class="modal-body" id="msg_content"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">{% trans "OK"%}</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
  </section>

<style type="text/css">
    	.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa,
.modal-message .modal-header
.glyphicon, .modal-message
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
</style>
<script>
    $(function() {
        // 加载完页面时,计算总计
        calculateItemSum();
        showTotal();
        $('.checkbox').on('click', function () {
        // 选择多选框后,再重新计算
        showTotal();
        });
    });
    // 计算总计函数
    function showTotal() {
        let total = 0;
        let number = 0;
        // 1. 获取所有的被勾选的条目复选框 循环遍历
        $(".checkbox").each(function () {
            let isChecked = $(this).prop("checked");
            // 如果多选框被选中
            if(isChecked === true) {
                // 2. 获取复选框的值，再通过父子关系找到对应元素，获取其文本
                let price = parseFloat($(this).parents("#one_good").find("#price").html()); //得到商品的单价
                console.log("i_price: ",price)
                let num =  parseInt($(this).parents("#one_good").find("#num").val()); //得到商品的数量
                let calculated_price = num * price
                //3. 累加计算
                total += calculated_price;
                number += num;
                // $("#calculated_price").text("￥"+calculated_price.toFixed(2));
            } else {
                $('#selectall').prop("checked",false)
            }
        });
    // 4. 把总计显示在总计元素上
    //     console.log("total: ",total)
        $("#total_number").text(number+"  Bouquets");
        $("#total_price").text("￥"+total.toFixed(2));//toFixed(2)函数的作用是把total保留2位
    }

    function setOrder() {
        let total = 0;
        let number = 0;
        // 1. 获取所有的被勾选的条目复选框 循环遍历
        $(".checkbox").each(function () {
            let isChecked = $(this).prop("checked");
            // 如果多选框被选中
            if(isChecked == true) {
                // 2. 获取复选框的值，再通过父子关系找到对应元素，获取其文本
                let price = parseFloat($(this).parents("#one_good").find("#price").html()); //得到商品的单价
                console.log("i_price: ",price)
                let num =  parseInt($(this).parents("#one_good").find("#num").val()); //得到商品的数量
                let calculated_price = num * price
                //3. 累加计算
                total += calculated_price;
                number += 1;
                // $("#calculated_price").text("￥"+calculated_price.toFixed(2));
            }
        });
    // 4. 把总计显示在总计元素上
    //     console.log("total: ",total)
        $("#total_number").text(number+  {% trans "Bouquets"%});
        $("#total_price").text("￥"+total.toFixed(2));//toFixed(2)函数的作用是把total保留2位
    }

    {#全选#}
    $('#selectall').click(function (){
        if ($('#selectall').is(":checked")) {
            $('.checkbox').prop("checked",true)
            showTotal();
         }
        else{
            $('#selectall').prop("checked",false)
            showTotal();
        }
    });

    function calculateItemSum(){

        let each_item = $(".cart-list").each(function (index) {

            let item_price = $(".cart-list #price").eq(index).text();
            // console.log("i_price: ",item_price)
            let num = $(".cart-list #num").eq(index).val();
            // console.log("i_num: ",num)
            let item_sum = item_price * num;
             console.log("i_sum: ",item_sum)
            $(".cart-list #calculated_price").eq(index).text("￥"+item_sum);

        })

    }

function deleteCart(getId, obj) {
    let item = $(obj).parents("#one_good")
    // console.log(item.html())
    // console.log("getId="+getId);
    item.remove()
    $.ajax({
        type : 'post',
        url : '../delete/',
        data:{'getId':getId},
        async : false,
        success : function(data){
             $("#msg_content").html("Success Deleted ");
        }
    });
}

function changeNumber(getId,value){
    calculateItemSum();
    showTotal();
    $.ajax({
        type : 'post',
        url : '../changenumber/',
        data:{'getId':getId,"changenumber":value},
        async : false,
        success : function(data){
             $("#msg_content").html("Successfully changed the number of "+data["item"]);
        }
    });
}
</script>

{% endblock %}



