
{% extends "_base.html" %}

{% block title %}Cart{% endblock %}


{% block content %}
    <link href="/static/store/store.css" rel="stylesheet">
        <div class="row ">

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row border-bottom border-gray align-content-between">
    <div class="col-md-5 ">
   <h5 class="pb-2 mb-0">Product Name</h5>
    </div>

    <div class="col-md-3">
   <h5 class="pb-2 mb-0">Unit Price</h5>
    </div>

      <div class="col-md-2">
   <h5 class="pb-2 mb-0">Quantity</h5>
    </div>

      <div class="col-md-2">
   <h5 class="pb-2 mb-0">Operations</h5>
    </div>
    </div>
        <div class="row border-bottom border-gray mb-10">
            <div class="col-md-2">

            <img width="50%"  src="/static/store/a.jpg"  >

          </div>
        <div class="col-md-3">
            <div class="card-body">

                     <p class="card-text">Warm Sunset</p>
                <input type="checkbox">
             </div>
        </div>


            <div class="col-md-3">
            <div class="card-body">
                     <p class="card-text">￥220</p>
             </div>
        </div>

            <div class="col-md-2">
            <div class="card-body">
                 <label for="phone">

                </label>
      <input class="form-control" type="number"  min="1" placeholder="1" required>
             </div>
        </div>

            <div class="col-md-2">
            <div class="card-body">
                <p class="card-text">Delete</p>
                <p class="card-text">Collect</p>
             </div>
        </div>

              </div>
<div class="row border-bottom border-gray mb-10">
            <div class="col-md-2">

            <img width="50%"  src="/static/store/e.jpg"  >

          </div>
        <div class="col-md-3">
            <div class="card-body">
                <input type="checkbox" class="custom-control-input" id="save-info">
                     <p class="card-text">Pure Angel</p>
                <input type="checkbox">
             </div>
        </div>


            <div class="col-md-3">
            <div class="card-body">
                     <p class="card-text">￥240</p>
             </div>
        </div>

            <div class="col-md-2">
            <div class="card-body">
                <label for="phone">

                </label>
                <input class="form-control" type="number"  min="1" placeholder="1" required>
             </div>
        </div>

            <div class="col-md-2">
            <div class="card-body">
                <p class="card-text">Delete</p>
                <p class="card-text">Collect</p>
             </div>
        </div>

              </div>

  </div>
      </div>
<div class="row">
    <div class="col-md-5 " >
        <h4>Total </h4>

        </div>

      <div class="col-md-5 " >

        <h3 style="color: #e3b058">￥460 </h3>
        </div>

          <div class="col-md-2 align-items-end ">
           <button class="btn btn-lg btn-outline-success" >Checkout</button>

        </div>
        </div>

{% endblock %}


