
{% extends "_base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}

       <div class="row ">

<div class="row border-bottom border-gray align-content-between" >
    {{error}}
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row border-bottom border-gray align-content-between">
        <div class="col-md-4 ">
            <h5 class="pb-2 mb-0">Product Name</h5>
        </div>

        <div class="col-md-2">
            <h5 class="pb-2 mb-0">Unit Price</h5>
        </div>

        <div class="col-md-1">
            <h5 class="pb-2 mb-0">Inventory</h5>
        </div>

        <div class="col-md-2">
            <h5 class="pb-2 mb-0">Quantity</h5>
        </div>

        <div class="col-md-1">
            <h5 class="pb-2 mb-0">Sum</h5>
        </div>

        <div class="col-md-2">
            <h5 class="pb-2 mb-0">Operations</h5>
        </div>
    </div>
    <form action="{% url 'shop_app:addToOrder' %}" method="post">
        {% csrf_token %}
    {% if cart_list %}
    {% for cart_item in cart_list %}

    <div class="row border-bottom border-gray mb-10 cart-list" id="one_good">
        <div class="col-md-2">
            <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="/media/{{cart_item.product.product_image}}" role="img" >
        </div>

        <div class="col-md-2">
            <div class="card-body">
                     <p class="card-text">{{cart_item.product.product_name}}</p>
                <input class="checkbox" type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ cart_item.cart_id }}">
             </div>
        </div>

        <div class="col-md-2">
            <div class="card-body">
                <p class="card-text" id="price">{{cart_item.product.price}}</p>
            </div>
        </div>

        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text" id="inventory">{{cart_item.product.inventory}}</p>
            </div>
        </div>


        <div class="col-md-2">
            <div class="card-body">
                <input class="form-control" id="num" type="number"  min="1" onchange="changeNumber('{{cart_item.cart_id}}',value)" value="{{cart_item.number}}" required>
            </div>
        </div>

         <div class="col-md-1">
            <div class="card-body">
                <p class="card-text" id="calculated_price" ></p>
            </div>
         </div>

        <div class="col-md-2">
            <div class="card-body">
                <button  class="btn btn-lg btn-outline-success" onclick="deleteCart('{{cart_item.cart_id}}', this)">Delete</button>
<!--                <p class="card-text">Collect</p>-->
             </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
        <p>Sorry... No products in cart.</p>
    {% endif %}

</div>
      </div>

<div class="row">
    <div class="col-md-3 " >
        <h4>Total </h4>
    </div>
    <div class="col-md-3 " >
        <h3 id="total_number" style="color: #e3b058">0 </h3>
    </div>
    <div class="col-md-3 " >
        <h3 id="total_price" style="color: #e3b058">￥0 </h3>
    </div>
    <div class="col-md-3 align-items-end ">
        <button type="submit" class="btn btn-sm btn-outline-success" >Checkout</button>
    </div>
</div>
</form>

<script>
    $(function() {
        // 加载完页面时,计算总计
        calculateItemSum();
        showTotal();
        $('.checkbox').on('click', function () {
        // 选择多选框后,再重新计算
        showTotal();
        });
    });
    // 计算总计函数
    function showTotal() {
        let total = 0;
        let number = 0;
        // 1. 获取所有的被勾选的条目复选框 循环遍历
        $(".checkbox").each(function () {
            let isChecked = $(this).prop("checked");
            // 如果多选框被选中
            if(isChecked == true) {
                // 2. 获取复选框的值，再通过父子关系找到对应元素，获取其文本
                let price = parseFloat($(this).parents("#one_good").find("#price").html()); //得到商品的单价
                console.log("i_price: ",price)
                let num =  parseInt($(this).parents("#one_good").find("#num").val()); //得到商品的数量
                let calculated_price = num * price
                //3. 累加计算
                total += calculated_price;
                number += 1;
                // $("#calculated_price").text("￥"+calculated_price.toFixed(2));
            }
        });
    // 4. 把总计显示在总计元素上
    //     console.log("total: ",total)
        $("#total_number").text(number+"  Bouquets");
        $("#total_price").text("￥"+total.toFixed(2));//toFixed(2)函数的作用是把total保留2位
    }


    function setOrder() {
        let total = 0;
        let number = 0;
        // 1. 获取所有的被勾选的条目复选框 循环遍历
        $(".checkbox").each(function () {
            let isChecked = $(this).prop("checked");
            // 如果多选框被选中
            if(isChecked == true) {
                // 2. 获取复选框的值，再通过父子关系找到对应元素，获取其文本
                let price = parseFloat($(this).parents("#one_good").find("#price").html()); //得到商品的单价
                console.log("i_price: ",price)
                let num =  parseInt($(this).parents("#one_good").find("#num").val()); //得到商品的数量
                let calculated_price = num * price
                //3. 累加计算
                total += calculated_price;
                number += 1;
                // $("#calculated_price").text("￥"+calculated_price.toFixed(2));
            }
        });
    // 4. 把总计显示在总计元素上
    //     console.log("total: ",total)
        $("#total_number").text(number+"  Bouquets");
        $("#total_price").text("￥"+total.toFixed(2));//toFixed(2)函数的作用是把total保留2位
    }

















    function calculateItemSum(){

        let each_item = $(".cart-list").each(function (index) {

            let item_price = $(".cart-list #price").eq(index).text();
            // console.log("i_price: ",item_price)
            let num = $(".cart-list #num").eq(index).val();
            // console.log("i_num: ",num)
            let item_sum = item_price * num;
            // console.log("i_sum: ",item_sum)
            $(".cart-list #calculated_price").eq(index).text("￥"+item_sum);

        })

    }

function deleteCart(getId, obj) {
    let item = $(obj).parents("#one_good")
    // console.log(item.html())
    // console.log("getId="+getId);
    item.remove()
    $.ajax({
        type : 'post',
        url : '/delete/',
        data:{'getId':getId},
        async : false,
        success : function(data){
            // alert("success delete " + data["getId"]);
        }
    });
}

function changeNumber(getId,value){
    calculateItemSum();
    showTotal();
    $.ajax({
        type : 'post',
        url : '/changenumber/',
        data:{'getId':getId,"changenumber":value},
        async : false,
        success : function(data){
            // alert("success change " + data["getId"]);
        }
    });
}
</script>

{% endblock %}



