{% extends "_profile_base.html" %}

{% block title %}Account{% endblock %}

{% block content %}


 <div class="col-md-9">
  <style type="text/css">

.ui-w-100 {
    width: 100px !important;
    height: auto;
}


 </style>

<div class="container px-3 my-0 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                    <tr>
                    <!-- Set columns width -->
                        <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% csrf_token %}
                    {% if favorite_list %}
                        {% for favorite_item in favorite_list %}
                        <tr id="one_favorite">
                        <td class="p-4">
                            <div class="media align-items-center">
                                <img src="/media/{{favorite_item.product.product_image}}" class="d-block ui-w-100 ui-bordered mr-4" alt="">
                                <div class="media-body">
                                    <a href="#" class="d-block text-dark">{{favorite_item.product.product_name}}</a>
                                    <small>
                                        {{favorite_item.product.product_descripton}}
                                    </small>
                                </div>
                            </div>
                        </td>
                        <td class="text-right font-weight-semibold align-middle p-4">${{favorite_item.product.price}}</td>
                        <td class="text-center align-middle px-0"><p class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove" onclick="deleteFavorite('{{favorite_item.favorite_id}}', this)">×</p></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <p align="center">Sorry... No products in favorite list.</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
    <script>
    function deleteFavorite(getId, obj) {
        let item = $(obj).parents("#one_favorite")
        item.remove()
        $.ajax({
            type : 'post',
            url : '/delete_favorite/',
            data:{'getId':getId},
            async : false,
            success : function(data){
                alert("success delete " + data["getId"]);
            }
        });
    }
    </script>
{% endblock %}
