{% extends "_profile_base.html" %}

{% block title %}Account{% endblock %}
{% load i18n %}

{% block content %}


 <div class="col-md-9">
  <style type="text/css">

.ui-w-100 {
    width: 100px !important;
    height: auto;
}


 </style>

<div class="container px-3 my-0 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                    <tr>
                    <!-- Set columns width -->
                        <th class="text-center py-3 px-4" style="min-width: 400px;">{% trans "Product Name &amp; Details"%}</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">{% trans "Price"%}</th>
                        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% csrf_token %}
                    {% if favorite_list %}
                        {% for favorite_item in favorite_list %}
                        <tr id="one_favorite">
                        <td class="p-4">
                            <div class="media align-items-center">
                                <img src="/media/{{favorite_item.product.product_image}}" class="d-block ui-w-100 ui-bordered mr-4" alt="">
                                <div class="media-body">
                                    <a href="#" class="d-block text-dark">{{favorite_item.product.product_name}}</a>
                                    <small>
                                        {{favorite_item.product.product_descripton}}
                                    </small>
                                </div>
                            </div>
                        </td>
                        <td class="text-right font-weight-semibold align-middle p-4">${{favorite_item.product.price}}</td>
                        <td class="text-center align-middle px-0"><p class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove" onclick="deleteFavorite('{{favorite_item.favorite_id}}', this)" data-toggle="modal" data-target="#modal-warning">×</p></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <p align="center">{% trans "Sorry... No products in favorite list."%}</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
   <div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-title"></div>

                <div class="modal-body" id="msg_content"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">{% trans "OK"%}</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
<style type="text/css">
    	.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa,
.modal-message .modal-header
.glyphicon, .modal-message
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
</style>
    <script>
    function deleteFavorite(getId, obj) {
        let item = $(obj).parents("#one_favorite")
        item.remove()
        $.ajax({
            type : 'post',
            url : '../delete_favorite/',
            data:{'getId':getId},
            async : false,
            success : function(data){
                 $("#msg_content").html("Success Deleted ");
            }
        });
    }
    </script>
{% endblock %}
