
{% extends "_shop_base.html" %}
<style>

</style>
{% block title %}Bouquet Pickup{% endblock %}


{% block content %}

    <link href="../../static/store/store.css" rel="stylesheet">
   <div class="col-md-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-500 position-static">
        <div class="col p-1 d-flex flex-column position-static">



 <div id="myCarousel" class="carousel slide" data-ride="carousel">



    <div class="carousel-inner">
      <div class="carousel-item active">
        <video  autoplay loop playsinline muted>
     <source src="../../static/store/shop.mp4" type="video/mp4">
        </video>
        <div class="container">
          <div class="carousel-caption text-left">

          <p> The Life Blooms Like Flowers </p>
          </div>
        </div>
      </div>

        </div>
      </div>
  </div>
        </div>

 <div class="album py-5 bg-white">
    <div class="container">

      <div data-column='3' class="at-grid">



          {% if price_p_list %}
            {% for product in price_p_list %}



 <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"> <img class="bd-placeholder-img card-img-top" height="65%"  src="/media/{{product.product_image}}" role="img" >

                </div>
                <div class="at-user__name">{{ product.product_name }}</div>
                <div class="at-user__title">{{ product.price }}</div>
                <div class="at-social">
                    <div class="box one" >
    <div class="item" onclick="window.location.href={% url 'shop_app:detail' product.product_id %}">See detail</div>

</div>
         </div>
            </div>
        </div>






            {% endfor %}
          {% else %}
                <p>No polls are available.</p>
          {% endif %}







      </div>
    </div>
  </div>
   </div>



{% endblock %}


