
{% extends "_shop_base.html" %}

{% block title %}Bouquet Pickup{% endblock %}


{% block content %}

    <link href="../../static/store/store.css" rel="stylesheet">
   <div class="col-md-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-500 position-static">
        <div class="col p-1 d-flex flex-column position-static">



 <div id="myCarousel" class="carousel slide" data-ride="carousel">



    <div class="carousel-inner">
      <div class="carousel-item active">
        <video  autoplay loop playsinline muted>
     <source src="../../static/store/shop.mp4" type="video/mp4">
        </video>
        <div class="container">
          <div class="carousel-caption text-left">

          <p> The Life Blooms Like Flowers </p>
          </div>
        </div>
      </div>

        </div>
      </div>
  </div>
        </div>

 <div class="album py-5 bg-white">
    <div class="container">

      <div class="row">


          {% if price_p_list %}
            {% for product in price_p_list %}




<div id="card" >
    <div class="lower shadow-sm">


<p><img class="bd-placeholder-img card-img-top" height="65%"  src="/media/{{product.product_image}}" role="img" ></p>
         <a class="btn btn-sm btn-outline-success "  href="{% url 'shop_app:detail' product.product_id %}"   >See Detail</a>
         <button type="button" class="btn btn-sm btn-outline-success">
                      <img width="20px" src="https://img.icons8.com/color/50/000000/shopping-cart--v1.png"/>
                  </button>
    </div>
    <div class="upper shadow-sm">


        <img class="bd-placeholder-img card-img-top" height="65%"  src="/media/{{product.product_image}}" role="img" >

        <p class="card-text" style="font-family: 'Playfair Display'">{{ product.product_name }}</p>
                <h3 class="card-text" id="price" style="font-family: 'Sitka Banner'">{{ product.price }} ￥</h3>

    </div>
</div>






            {% endfor %}
          {% else %}
                <p>No polls are available.</p>
          {% endif %}







      </div>
    </div>
  </div>
   </div>



{% endblock %}


