
{% extends "_shop_base.html" %}

{% block title %}Bouquet Pickup{% endblock %}


{% block content %}

    <link href="../../static/store/store.css" rel="stylesheet">
   <div class="col-md-9">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-500 position-static">
        <div class="col p-1 d-flex flex-column position-static">



 <div id="myCarousel" class="carousel slide" data-ride="carousel">



    <div class="carousel-inner">
      <div class="carousel-item active">
        <video  autoplay loop playsinline muted>
     <source src="../../static/store/shop.mp4" type="video/mp4">
        </video>
        <div class="container">
          <div class="carousel-caption text-left">

          <p> The Life Blooms Like Flowers </p>
          </div>
        </div>
      </div>

        </div>
      </div>
  </div>
        </div>

 <div class="album py-5 bg-white">
    <div class="container">

      <div class="row">


          {% if price_p_list %}
            {% for product in price_p_list %}



        <div class="col-md-3">
          <div class="card mb-2 shadow-sm">

            <img class="bd-placeholder-img card-img-top" width="100%" height="100" src="{{product.product_image}}" role="img" >

            <div class="card-body">
                <p class="card-text">{{ product.product_name }}</p>
                <p class="card-text">{{ product.price }}</p>
              <div class="d-flex justify-content-center align-items-center">

                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-success "  href="{% url 'shop_app:detail' product.product_id %}"   >See Detail</a>

                  <button type="button" class="btn btn-sm btn-outline-success">
                      <img width="20" src="https://img.icons8.com/color/50/000000/shopping-cart--v1.png"/>
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>


            {% endfor %}
          {% else %}
                <p>No polls are available.</p>
          {% endif %}







      </div>
    </div>
  </div>
   </div>



{% endblock %}


