{% extends "_base.html" %}

{% block title %}Order{% endblock %}
{% load i18n %}

{% block content %}
     <style type="text/css">
    	.contact-title{
    margin-bottom: 15px !important;
}
.icons-container ul li {
    display: inline-block;
    width: 4.2em;
    height: 4.2em;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    margin: 0.25em;
    line-height: 3.5em;
    color: #999;
    transition: 1s 0s linear;
    text-decoration: none;
}

.icon-list{
    padding:0px;
}

#facebook-circle{
    border:1px solid #3B5998;
}
#facebook-icon{
    color:#3B5998;
}
#twitter-circle{
    border:1px solid #42ACC4;
}
#twitter-icon{
    color:#42ACC4;
}

#youtube-circle{
    border:1px solid #E62117;
}
#youtube-icon{
    color:#E62117;
}
#btn-send-message{
    width: 100%;
}

.line-separator{
    border-bottom:1px solid #CDC1C5;
}
.box-separator{
    margin-top: 20px;
    padding-bottom: 20px;
}

.icon-separator{
    border-bottom: 2px solid orange;
}

.modal-body{
 }
    </style>
{#下单确认模态框#}

            <div aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">
                                {% trans "Order Confirm"%}
                            </h3>
                            <button aria-label="Close" class="close" data-dismiss="modal" data-toggle="tooltip" title="Exit" type="button">
                                <span aria-hidden="true">
                                    ×
                                </span>
                            </button>
                        </div>
                        <div class="modal-body">
                             <div class="row ">
                                 <div class="col-md-7 order-md-1 mb-4">
                                     <h4 class="d-flex justify-content-between align-items-center mb-3">
                                         <span class="text-muted">{% trans "Order Info"%}</span>
                                     </h4>
                                     <ul class="list-group mb-3">
                                         {% for item in product_list %}
                                             {% if item.product_obj.product_id == 1 %}
                                                 <li class="list-group-item d-flex justify-content-between lh-condensed order-list">
                                                 <img id="diy_img"  width="80px"  src="/media/media/static/product/{{ user.id }}_DIY.png"/>
                                                 <span>
                                                     <p id="diy_order_id" class="my-0">{{ order_id }}</p>
                                                     <p id="diy_name" class="my-0">{{ item.product_obj.product_name }}</p></span>
                                                 <span class="text-muted" id="i_num">   {{ item.product_num }}</span>
                                             </li>
                                             {% else %}
                                                 <li class="list-group-item d-flex justify-content-between lh-condensed order-list">
                                                 <img  width="80px"  src="/media/{{item.product_obj.product_image}}"/>
                                                 <span>
                                                     <p class="my-0">{{ item.product_obj.product_name }}</p></span>
                                                 <span class="text-muted" id="i_num">   {{ item.product_num }}</span>
                                             </li>
                                             {% endif %}

                                         {% endfor %}
                                         <li class="list-group-item d-flex justify-content-between order-sum">
                                             <span>{% trans "Total"%} </span>
                                             <strong id="sum_all"></strong>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="col-md-5 order-md-2">
                                     <h4 class="mb-3">{% trans "Receiver Info"%}</h4>
                                     <div class="mb-3">
                                         <p >{% trans "Receiver Name:"%} </p>
                                         <p class="text-muted" id="mo_name" value=""></p>
                                     </div>
                                     <div class="mb-3">
                                         <p>{% trans "Receiver Phone Number:"%} </p>
                                         <p class="text-muted" id="mo_phone" value=""></p>
                                     </div>
                                     <div class="mb-3">
                                         <p>{% trans "Receiver Address:"%} </p>
                                         <p class="text-muted" id="mo_address" value=""> </p>
                                     </div>
                                 </div>
                             </div>
                            <div class="row" >
                                <div class="col-md-6 ">
                                    <button type="button" class="btn btn-light align-center" data-dismiss="modal" data-toggle="modal" >{% trans "Cancel"%}</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary btn-sm align-items-sm-end" data-dismiss="modal" data-toggle="modal" data-target="#modal-success" >{% trans "Confirm"%}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">

        <div class="row ">

            <div class="col-md-7 order-md-1 mb-4">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">{% trans "Order Verification"%}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for item in product_list %}
                        {% if item.product_obj.product_id == 1 %}
                            <li class="list-group-item d-flex justify-content-between lh-condensed order-list">
                            <img  width="120px"  src="/media/media/static/product/{{ user.id }}_DIY.png"/>
                            <span><h6 class="my-0">{{ item.product_obj.product_name }}</h6></span>
                            <span class="text-muted" id="i_num">{{ item.product_num }}</span>
                            <span class="text-muted" id="i_price">{{ item.product_obj.price }}</span>
                            <span class="text-muted" id="i_cal-price">{% trans "calculated"%}</span>
                        </li>
                        {% else %}
                             <li class="list-group-item d-flex justify-content-between lh-condensed order-list">
                            <img  width="120px"  src="/media/{{item.product_obj.product_image}}"/>
                            <span><h6 class="my-0">{{ item.product_obj.product_name }}</h6></span>
                            <span class="text-muted" id="i_num">{{ item.product_num }}</span>
                            <span class="text-muted" id="i_price">{{ item.product_obj.price }}</span>
                            <span class="text-muted" id="i_cal-price">{% trans "calculated"%}</span>
                        </li>
                        {% endif %}

                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between order-sum">
                        <span>{% trans "Total"%} </span>
                        <strong id="sum_all"></strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 order-md-2" id="reciver_info">
                <h4 class="mb-3">{% trans "Receiver Information"%}</h4>
             <div class="text-primary" id="msg" style=""></div>
             <div class="btn-group btn-toggle" id="service">
    <button class="btn btn-default" id="pickup">{% trans "Pickup"%}</button>
    <button class="btn btn-primary active" id="delivery">{% trans "Delivery"%}</button>
  </div>
                <div class="mb-3">
                    <label for="receiver">{% trans "Receiver Name"%}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="r_name" placeholder={% trans "Name"%} required>
                        <div class="invalid-feedback" style="width: 100%;">
                            {% trans "Receiver name is required."%}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="receiverphone">{% trans "Receiver Phone Number "%}<span class="text-muted"></span></label>
                    <input type="text" class="form-control" id="p_number" placeholder={% trans "Phone number"%}>
                    <div class="invalid-feedback">
                        {% trans "Please enter a valid phone number."%}
                    </div>
                </div>
                <div class="mb-3" id="receiver_address">
                    <label for="address">{% trans "Receiver Address"%}</label>
                    {% if default_address %}
                    {% for default_item in default_address %}
                    <input type="text" class="form-control" id="address"  placeholder={% trans "Please enter your address here."%}
                           required  value="{{default_item.default_address.address}}" >
                    {% endfor %}
                      {% else %}
                         <input type="text" class="form-control" id="address"  placeholder={% trans "Please enter your address here."%}
                           required >
                        {% endif %}
                    <div class="invalid-feedback">
                        {% trans "Please enter your delivery address."%}
                    </div>
                </div>
                <button style="margin-right:100px" class="btn btn-info" data-target="#exampleModal" onclick="addOrder('{{ order_id }}', this)" data-toggle="modal" data-whatever="@getbootstrap" type="button">
                    <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                    {% trans "Checkout"%}
                </button>
                <button class="btn btn-info" data-target="#modal-info" data-toggle="modal" data-whatever="@getbootstrap" type="button">
                    <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                    {% trans "Cancel"%}
                </button>
            </div>
        </div>
{#    订单成功模态框#}
        <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="glyphicon glyphicon-check"></i>
                    </div>
                    <div class="modal-title text-black">{% trans "Order Placed"%} </div>
                    <div class="modal-body">{% trans "Thanks for your purchase!"%}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success " data-dismiss="modal" onclick="goBack()">{% trans "OK"%}</button>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div>
{#    取消订单模态框#}
        <div id="modal-info" class="modal modal-message modal-info fade" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="modal-title text-black">{% trans "Your order has been canceled."%}</div>
                    <div class="modal-body">{% trans "Add items to cart again?"%} </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" data-toggle="modal"
                                data-target="#modal-warning" onclick="addtocart('{{ order_id }}')">{% trans "Yes"%}</button>
                        <span>
                            <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal"  onclick="cancelOrder()">{% trans "No"%}</button>
                        </span>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div>
        <div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fa fa-warning"></i>
                    </div>
                    <div class="modal-title"></div>
                    <div class="modal-body">{% trans "The products have been added to cart."%}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"  onclick="goBack()">{% trans "OK"%}</button>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div>
    </div>

<style type="text/css">
    	.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa,
.modal-message .modal-header
.glyphicon, .modal-message
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
</style>
<script>
window.onload=function(){
    $.ajax({
        type : 'POST',
        url : '../../check_mode/',
        async : false,
        data : {},
        success : function(data){
            if(data["msg"] === 'True'){
                  $("#msg").html("Due to the epidemic, no pick-up service will be provided temporarily.")
                   $("#service").hide();

            }else{
                 $("#msg").html("Pick-up and delivery are both available!")
            }

        }
    });

}





$(document).ready(function() {

    let image = $("#diy_img")

    console.log("---------------before saving image");
    if (image != null){
            console.log("-------------------ready to save image");
            let img_src = image.attr("src");
            {#savediypic(img_src, order_id)#}
        let order_id = $("#diy_order_id").text()
        console.log("------------------image save ajax activate")
        console.log(img_src)
        console.log(order_id)
            $.ajax({
                type : 'post',
                url : '../../diy_pic_order/',
                async : false,
                cache: true,
                data: {
                    'dataSRC' : img_src,
                    'order_id' : order_id
                },
                success : function() {
                console.log("-------------------save image success");
                }
            });
    }


   $("#pickup").click(function() {

    $("#receiver_address").hide();

   });
      $("#delivery").click(function() {

    $("#receiver_address").show();

   });








  });

function goBack() {
    {#window.history.back()#}
    window.location.href = document.referrer;
}

$(function() {
        // 加载完页面时,计算总计
        calculateItemSum();
});
    function calculateItemSum(){
        let sum_all = 0
        let each_item = $(".order-list").each(function (index) {
            let item_price = Number($(".order-list #i_price").eq(index).text());
             {#console.log("i_price: ",item_price)#}
            let num = Number($(".order-list #i_num").eq(index).text());
             {#console.log("i_num: ",num)#}
            let item_sum = item_price * num;
             sum_all += item_sum
             {#console.log("i_sum: ",item_sum)#}
            $(".order-list #i_cal-price").eq(index).text("￥"+item_sum);
        })
        $(".order-sum #sum_all").text("￥"+sum_all);
    }
    function addOrder(order_id, obj) {
        let receiver = $("#r_name").val()
        let phone = Number($("#p_number").val())
        let address = $("#address").val()


        $("#mo_name").html(receiver);	      //赋值给模态框
        $("#mo_phone").html(phone);
        $("#mo_address").html(address);

        {#console.log("receiver = "+ receiver );#}
        {#console.log("phone = "+phone);#}
        {#console.log("address = "+ address);#}



    $.ajax({
        type : 'post',
        url : '../../add_order/',
        data:{
            'o_id':order_id,
            'receiver':receiver,
            'phone': phone,
            'address': address,
        },
        async : false,
        success : function(data){
            console.log("add order ok")
        }
    });
}


function addtocart(order_id) {
    {#console.log("order_id = "+ order_id );#}
    $.ajax({
        type : 'post',
        url : '../add_cart_again/',
        data:{'order_id':order_id},
        async : false,
        success : function(data){
            console.log("add_cart_again ok")
        }
    });
}

function cancelOrder(order_id) {
    {#console.log("order_id = "+ order_id );#}
    $.ajax({
        type : 'post',
        url : '../cancel_order/',
        data:{'order_id':order_id},
        async : false,
        success : function(data){
        }
    });
    window.location.href = document.referrer;
}

</script>
{% endblock %}