
{% extends "_base.html" %}

{% block title %}{{ product.product_name }}{% endblock %}
{% load i18n %}

{% block content %}



<div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="row ">

           <div class="col-md-3 mt-lg-5">
               <img width="100%" src="/media/{{product.product_image}}" alt="My image">
           </div>

        <div class="col-md-9 mt-lg-5">

<div class="right">
          <table class="table table-borderless" id="info">
    <tbody>

        <tr>
            <h2>
                {{ product.product_name }}
            </h2>

        </tr>
      <tr>
          <th width="15%"   >{% trans "Type"%}</th>
            <td style="color: #5a6268;    ' ">
                {{ product.type }}
            </td>

        </tr>

     <tr>
          <th width="15%"   >{% trans "Color"%}</th>
            <td style="color: #5a6268;    '">
                {{ product.color }}
            </td>

        </tr>

     <tr>
          <th width="15%"   >{% trans "Description"%}</th>
            <td style="color: #5a6268;    '"> {{ product.product_desc }}
            </td>
        </tr>


        <tr>
          <th width="15%"   >{% trans "Inventory"%}</th>
            <td style="color: #5a6268;    '" id="p_inventory"> {{ product.inventory }}
            </td>
        </tr>


        <tr>
            <th width="15%"   >{% trans "Quantity"%}</th>
            <td style="color: #5a6268;    '">
                <input type="number" min="1" max="100" id="p_num" value="1"/>
            </td>
        </tr>


        <tr>

            <td style="color: #5a6268;    '">

            </td>
        </tr>



    </tbody>



</table>
<img src="https://img.icons8.com/color/50/000000/like--v1.png" data-toggle="modal" data-target="#modal-warning" onclick="addToFavorite('{{ product.product_id }}', this)"/>
<button  class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#modal-warning" onclick="addToCart('{{ product.product_id }}', this)">{% trans "Add To Cart"%}</button>

        </div>


        </div>
            </div>

        </div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
<div class="row bootstrap snippets bootdeys">
    <div class="col-md-12 col-sm-12">
        <div class="card shadow-sm " style="margin: 30px">
            <h4 class="text-success">{% trans "Comments"%}
            <span>
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </span></h4>
        </div>
        <div class="comment-wrapper" id="comment" >
            <div class="panel panel-info">

                <div class="panel-body">
<form action="{% url 'shop_app:comment' product.product_id %}" method="post">
        {% csrf_token %}
                    <textarea class="form-control" name='comment_text' placeholder={% trans "write a comment..."%} rows="3"></textarea>
                    <br>
                    <button type="submit" class="btn btn-info pull-right">{% trans "Post"%}</button>
                    <div class="clearfix"></div>
                    <hr>
</form>
                    <ul class="media-list">
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="/static/store/avatar.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">3 days ago</small>
                                </span>
                                <strong class="text-success">@Rei</strong>
                                <p>
                                    Beautiful flowers.
                                </p>
                            </div>
                        </li>
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="/static/store/photo.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">3 days ago</small>
                                </span>
                                <strong class="text-success">@Shiji</strong>
                                <p>
                                    Super great! I love it.
                                </p>
                            </div>
                        </li>
                        {% for comment in comments %}
                        <li class="media">
                            <a href="#" class="pull-left">
                                {% if not comment.user_portrait %}
                                    <img src="/static/store/photo.jpg" alt="" class="img-circle">
                                {% else %}
                                    <img src="/media/{{ comment.user_portrait }}" alt="" class="img-circle">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.time_d }}</small>
                                </span>
                                <strong class="text-success">{{ comment.username }}</strong>
                                <p>
                                    {{ comment.text }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

        </div>

     <div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-title"></div>

                <div class="modal-body" id="modal-content"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">{% trans "OK"%}</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
     <style type="text/css">

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
    </style>
<style type="text/css">
    	.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa,
.modal-message .modal-header
.glyphicon, .modal-message
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}



    </style>

<script>

    function addToCart(id, obj) {
    let num = Number($("#p_num").val())
        {#console.log("Id="+id);#}
        {#console.log("num="+num);#}
    // let inventory_num = Number($("#p_inventory").text());
    //     console.log("invent_num="+inventory_num);
    $.ajax({
        type : 'post',
        url : '../add_to_cart/',
        data:{'p_id':id, 'p_num':num},
        async : false,
        success : function(data){
            // if (inventory_num >= num){
            //     $("#p_inventory").text(inventory_num-num);
            // }
            $("#modal-content").html(data["msg"]);

        }
    });
}

function addToFavorite(id, obj) {
    $.ajax({
        type : 'post',
        url : '../add_to_favorite/',
        data:{'p_id':id},
        async : false,
        success : function(data){
             $("#modal-content").html(data["msg"]);
        }
    });
}

$(document).ready(function() {
    $(window).bind('scroll', function() {
        var height = $(window).height()-100 ;
        if ($(window).scrollTop() > 100) {
          $('#comment').show()
        } else {
             $('#comment').hide()
        }
    });
    $('#comment').hide()
});
</script>


{% endblock %}

