
{% extends "_base.html" %}

{% block title %}{{ product.product_name }}{% endblock %}

{% block content %}



<div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="row ">

           <div class="col-md-3 mt-lg-5">
               <img width="100%" src="/media/{{product.product_image}}" alt="My image">
           </div>

        <div class="col-md-9 mt-lg-5">

<div class="right">
          <table class="table table-borderless" id="info">
    <tbody>

        <tr>
            <h2>
                {{ product.product_name }}
            </h2>

        </tr>
      <tr>
          <th width="15%"   >Type</th>
            <td style="color: #5a6268;    ' ">
                {{ product.type }}
            </td>

        </tr>

     <tr>
          <th width="15%"   >Color</th>
            <td style="color: #5a6268;    '">
                {{ product.color }}
            </td>

        </tr>

     <tr>
          <th width="15%"   >Description</th>
            <td style="color: #5a6268;    '"> {{ product.product_desc }}
            </td>
        </tr>


        <tr>
          <th width="15%"   >Inventory</th>
            <td style="color: #5a6268;    '" id="p_inventory"> {{ product.inventory }}
            </td>
        </tr>


        <tr>
            <th width="15%"   >Quantity</th>
            <td style="color: #5a6268;    '">
                <input type="number" min="1" max="100" id="p_num" value="1"/>
            </td>
        </tr>


        <tr>

            <td style="color: #5a6268;    '">

            </td>
        </tr>



    </tbody>



</table>
<img src="https://img.icons8.com/color/50/000000/like--v1.png" onclick="addToFavorite('{{ product.product_id }}', this)"/>
<button  class="btn btn-sm btn-outline-dark" onclick="addToCart('{{ product.product_id }}', this)">Add To Cart</button>

        </div>


        </div>
            </div>

        </div>


<script>

    function addToCart(id, obj) {
    let num = Number($("#p_num").val())
        {#console.log("Id="+id);#}
        {#console.log("num="+num);#}
    // let inventory_num = Number($("#p_inventory").text());
    //     console.log("invent_num="+inventory_num);
    $.ajax({
        type : 'post',
        url : '../add_to_cart/',
        data:{'p_id':id, 'p_num':num},
        async : false,
        success : function(data){
            // if (inventory_num >= num){
            //     $("#p_inventory").text(inventory_num-num);
            // }

            alert(data["msg"]);
        }
    });
}

function addToFavorite(id, obj) {
    $.ajax({
        type : 'post',
        url : '../add_to_favorite/',
        data:{'p_id':id},
        async : false,
        success : function(data){
            alert(data["msg"]);
        }
    });
}
</script>


{% endblock %}


