
{% extends "_base.html" %}

{% block title %}Product{% endblock %}

{% block content %}



<div class="my-3 p-3 border bg-white rounded shadow-sm">
      <div class="row ">

           <div class="col-md-3 mt-lg-5">
               <img width="100%" src="/media/{{product.product_image}}" alt="My image">
           </div>

        <div class="col-md-9 mt-lg-5">

<div class="right">
          <table class="table table-borderless" id="info">
    <tbody>

        <tr>
            <h2>
                {{ product.product_name }}
            </h2>

        </tr>
      <tr>
          <th width="15%"   >Type</th>
            <td style="color: #5a6268;    ' ">
                {{ product.type }}
            </td>

        </tr>

     <tr>
          <th width="15%"   >Color</th>
            <td style="color: #5a6268;    '">
                {{ product.color }}
            </td>

        </tr>
     <tr>
          <th width="15%"   >Description</th>
            <td style="color: #5a6268;    '"> {{ product.product_desc }}
            </td>
        </tr>


        <tr>
          <th width="15%"   ></th>


        </tr>



    </tbody>



</table>
 <div align="center">
                       <div class="btn-group">

                           <form  method="post">
                                {% csrf_token %}
                                {{ form }}
                                <input type="submit" value="Add to Cart">
                            </form>

                </div>
                </div>

        </div>


        </div>
            </div>

        </div>


{% endblock %}

