
{% extends "_base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
    <div class="row">


 <div class="col-md-3 ">
      <div class="row    overflow-hidden flex-md-row  position-relative"  >
        <div class="col p-4 d-flex flex-column">
 <aside class=" col-md-12 blog-sidebar ">

      <div class="p-1">
        <h4 class="font-italic">Account</h4>
       <ol class="list-unstyled ">
          <li><a href="#" style="color: gray">User Info</a></li>
          <li><a href="#" style="color: gray">Receipt Info</a></li>
          <li><a href="#" style="color: gray">Collections</a></li>
          <li><a href="#" style="color: gray">My Cart</a></li>
        </ol>

      </div>


      <div class="p-1">
        <h4 class="font-italic">Order</h4>
        <ol class="list-unstyled ">
          <li><a href="#" style="color: gray">My Orders</a></li>
          <li><a href="#" style="color: gray">Cancelled</a></li>
          <li><a href="#" style="color: gray">My Comments</a></li>

        </ol>

      </div>

      <div class="p-1">
        <h4 class="font-italic">Service</h4>
        <ol class="list-unstyled">
          <li><a href="#" style="color: gray">Messages</a></li>
          <li><a href="#" style="color: gray">Replies</a></li>


        </ol>

      </div>


    </aside>

        </div>

      </div>

    </div>
 <div class="col-md-9">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-800 position-static">
        <div class="col p-1 d-flex flex-column position-static">
            <div class="row">
                       <div class="col-md-3 mt-lg-5">
               <img width="100%" src="../../static/store/photo.jpg" alt="My photo">
           </div>

        <div class="col-md-9">

               <div class="card-body">
                  <table class="table table-borderless">
    <tbody>
        <tr>
          <th width="15%"      >Username</th>
            <td> <p class="card-text" style="color: #ff9c07"  >{{user.username}}</p></td>

        </tr>

        <tr>
          <th width="20%"      >Email</th>
            <td style="color: #5a6268;     ">{{user.email}}</td>

        </tr>
      <tr>
          <th width="15%"      >Phone</th>
            <td style="color: #5a6268;      ">{{user.phone}}</td>

        </tr>

     <tr>
          <th width="15%"      >Address</th>
            <td style="color: #5a6268;     ">{{user.address}}</td>

        </tr>

     <tr>
          <th width={{user.city}}"15%"      >City</th>
            <td style="color: #5a6268;     "> {{user.city}}
        </tr>

    <tr>
          <th width={{user.city}}"15%"      >State</th>
            <td style="color: #5a6268;     "> {{user.state}}
        </tr>

         <tr>
          <th width={{user.city}}"15%"      >Zip Code</th>
            <td style="color: #5a6268;     "> {{user.zip_code}}
        </tr>


    </tbody>

</table>

                   <div align="center">

                  <button type="button" class="btn btn-sm btn-outline-success ">Edit</button>

                </div>
                </div>
                   </div>
            </div>
        </div>
  </div>

   </div>


    </div>


{% endblock %}


