{% extends "base.html" %}

{% block title %}Reset you password{% endblock %}


{% block content %}

    <link href="/static/account/user_base.css" rel="stylesheet">

   <div class="col-md-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-800 position-static">
        <div class="col p-1 d-flex flex-column position-static">
            <div class="row">

        <div class="col-md-9">

               <div class="card-body">



                     <h1>Reset you password</h1>
  <p>We've emailed you instructions for setting your password.</p>
  <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>




                </div>
                   </div>
            </div>
        </div>
  </div>
   </div>

{% endblock %}