{% extends "base.html" %}

{% block title %}Change you password{% endblock %}


{% block content %}

    <link href="/static/account/user_base.css" rel="stylesheet">

   <div class="col-md-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-800 position-static">
        <div class="col p-1 d-flex flex-column position-static">
            <div class="row">

        <div class="col-md-9">

               <div class="card-body">




  <h1>Change you password</h1>
  <p>Use the form below to change your password.</p>
  <form action="." method="post">
      {{ form.as_p }}
      <p><input type="submit" value="Change" /></p>
      {% csrf_token %}
    </form>



                </div>
                   </div>
            </div>
        </div>
  </div>
   </div>

{% endblock %}
