{% extends "base.html" %}

{% block title %}Password changed{% endblock %}


{% block content %}



    <link href="/static/account/user_base.css" rel="stylesheet">




   <div class="col-md-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-800 position-static">
        <div class="col p-1 d-flex flex-column position-static">
            <div class="row">

        <div class="col-md-9">

               <div class="card-body">





                <h1>Password changed</h1>
                <p>Your password has been successfully changed.</p>




                </div>
                   </div>
            </div>
        </div>
  </div>
   </div>

{% endblock %}
