


.container {
	width: 100%;
	top: 0px;
    position: relative;

}

.plant-holder {
	position: relative;
	height: 100%;
	left: -10px;
}

.plant {
    position: relative;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

#box{
	margin-top: 100px;
}


