/* stylelint-disable selector-list-comma-newline-after */


.blog-header-logo {
  font-family: Pristina,"Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: bolder;

}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  font-family: "Bookman Old Style", serif;
  font-weight: bolder;
  font-size: 35px;
  font-style: oblique;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}
.carousel-item > video {
  position: relative;

  height: 30rem;

}


.p-1{

}
.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #ffffff;
  text-align: center;
      background: url("../../static/store/nav2.jpg") bottom;
    background-size: 100%;
opacity: 60%;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

     .bd-placeholder-img {
        font-size: 1.120rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .nav-scroller{
          font-family:"Segoe UI Black";

          font-size: 1.15rem;

      }


     .blog-header{
         margin-top: 50px;

     }

   .btn-outline-success{
       font-family: "Gill Sans Nova Cond";
       font-size: 10pt;


   }

   .list-unstyled{
       font-family: Corbel;
       font-size: 18px ;
       font-weight: lighter;
   }

   .card-text{
      font-family: Corbel;
     color: #5a6268;
   }

   * {
    box-sizing: border-box;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
body {
    height: 100%;
    width: 100%;
    margin-top: 100px;
}
header {

    width: 100%;
    height: 100px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.nav_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 5000;

}
nav {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;

}
nav ul {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: green;
    margin: 0;
    padding: 0 20px;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
nav a{
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}
.menu_toggle {
    position: relative;
    height: 100px;
    width: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2000;
}
.menu_toggle .fa {
    font-size: 20px;
    cursor: pointer;
}
.top ul {
    background: url("../../static/store/nav2.jpg") center;
    background-size: 100%;
    -webkit-transform-origin: 50% 50% -50px;
    -ms-transform-origin: 50% 50% -50px;
    transform-origin: 50% 50% -50px;
    -webkit-transform: rotateX(90deg) translateZ(0);
    transform: rotateX(90deg) translateZ(0);
    opacity: 75%;
}
.sub ul {
    background: url("../../static/store/nav2.jpg") bottom;

    -webkit-transform-origin: 50% 50% -50px;
    -ms-transform-origin: 50% 50% -50px;
    transform-origin: 50% 50% -50px;
    -webkit-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
     opacity: 75%;
}
.nav_wrap {
     font-family: "Rockwell Nova Light";
    -webkit-transform-origin: 50% 50% -50px;
    -ms-transform-origin: 50% 50% -50px;
    transform-origin: 50% 50% -50px;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.menu_toggle {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 6000;
}
body.off_top .nav_wrap {

    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
body.off_top .menu_toggle {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
body.sub_is_visible .nav_wrap {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
 #logo{
     margin-bottom: 10px;
 }

 .blog-header-logo{
     color: #344234;
 }

 .fixed {
    position: fixed;
    top: 80px;
    height: 80px;
    z-index: 1;
}

     .at-section__title {
    margin: 0 0 70px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 2.625rem;
    text-align: center;
}
.at-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #FFF;
    border: 1px solid #E2E9ED;
}
.at-grid[data-column="1"] .at-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
    width: 33.33333%;
    max-width: 33.33333%;
    min-width: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}
.at-grid[data-column="4"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
    width: 16.66667%;
    max-width: 16.66667%;
    min-width: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
}
.at-grid[data-column="7"] .at-column {
    width: 14.28571%;
    max-width: 14.28571%;
    min-width: 14.28571%;
    -webkit-flex-basis: 14.28571%;
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
}
.at-grid[data-column="8"] .at-column {
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%;
    -webkit-flex-basis: 12.5%;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
    width: 11.11111%;
    max-width: 11.11111%;
    min-width: 11.11111%;
    -webkit-flex-basis: 11.11111%;
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
}
.at-column {
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.at-column:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.at-column:hover .at-social {
    margin: 16px 0 0;
    opacity: 1;
}
@media (max-width: 800px) {
    .at-column {
        width: 50% !important;
        max-width: 50% !important;
        min-width: 50% !important;
        -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
    }
}
@media (max-width: 600px) {
    .at-column {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    }
}
.at-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}
.at-user__avatar {
    width: 180px;
    height: 160px;

    margin: 0 auto 10px;
    overflow: hidden;
}
.at-user__avatar img {
    display: block;
    height: 100%
}
.at-user__name {
    color: #313435;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.625rem;
}
.at-user__title {
    color: #6F808A;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 2.375rem;
}
.at-social {

    opacity: 0;
    -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
    transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
    display: inline-block;
    margin: 0 10px;
}
.at-social__item a {
    display: block;
}


    .box {
    position: relative;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
        margin-top: 10px;
    margin-left:100px;
    color: #036a03;
}
.item {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease;
    background: white;
    border: none;
}
.one:before,
.one:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #098716;
    transition: 0.4s all ease;
}
.one:before {
    top: 0;
}
.one:after {
    bottom: 0;
}
.one .item:before,
.one .item:after {
    position: absolute;
    top: 0;
    content: '';
    height: 100%;
    width: 2px;
    background: #098716;
    transition: 0.4s all ease;
    z-index: -1;
}
.one .item:before {
    left: 0;
}
.one .item:after {
    right: 0;
}
.one:hover:before,
.one:hover:after {
    transition: 0.4s all ease;
}
.one:hover:before {
    transform: translateY(-10px);
}
.one:hover:after {
    transform: translateY(10px);
}
.one:hover .item {
    color: white;
}
.one:hover .item:before,
.one:hover .item:after {
    width: 100%;
    transition: 0.4s all ease;
}
