{% extends "base.html" %}
{% block title %}Welcome{% endblock %}




{% block content %}



    <link href="/static/account/user_base.css" rel="stylesheet">




   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-800 position-static">
        <div class="col p-1 d-flex flex-column position-static">
            <div class="row">

        <div class="col-md-9">

               <div class="card-body">




  <h1>Welcome {{ new_user.first_name }}!</h1>
  <p>Your account has been successfully created. Now you can <a href="{% url 'account:login' %}">log in</a>.</p>





                </div>
                   </div>
            </div>
        </div>
  </div>
   </div>

{% endblock %}