{% extends "base.html" %}
{% block title %}Create an account{% endblock %}





{% block content %}



    <link href="/static/account/user_base.css" rel="stylesheet">




   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-800 position-static">
        <div class="col p-1 d-flex flex-column position-static">
            <div class="row">

        <div class="col-md-9">

               <div class="card-body">




  <h1>Create an account</h1>
  <p>Please, sign up using the following form:</p>
  <form action="." method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Create my account"></p>
  </form>





                </div>
                   </div>
            </div>
        </div>
  </div>
   </div>

{% endblock %}